*

{
	margin:0;
	padding:0;
}
.header
{
	background:rgba(0,0,100,0.4);
	height : 100vh;
}
.video-background
{
	position:absolute;
	right:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	z-index: -1;
}
@media (min-aspect-ratio:16/9)
{
	.video-background
	{
	      width:100%;
	      height:auto;
	}
}
@media (max-aspect-ratio:16/9)
{
	.video-background
	{
	      width:auto;
	      height:100%;
	}
}
.welcome-msg p
{
	text-align:center;
	color:white;
	font-size:30px;
	font-family:serif;
	padding-top:60px;
}	
		
.welcome-msg h1
{
	position:relative;
	text-align:center;
	font-family:monospace;
	color:#79ff4d;
	font-size:100px;
	padding-top:70px;
}
.list ul li{
		position:relative;
		display:inline-block;
		font-size:30px;
		padding-right:0px;
		font-family:garamond;
		margin-top:70px;
		margin-left:650px;
		
}


.list ul li a{
	text-decoration:none;
	padding:5px 15px;
	color:white;
	border:0px solid;
	border-radius:15px;
	background-color:#00cccc;
	
}
.list ul li a:hover{
	background-color:white;
	color:#0066ff;
	transition:0.5s;
	
}
.listlov ul li{
		position:relative;
		display:inline-block;
		font-size:30px;
		padding-right:0px;
		font-family:garamond;
		margin-top:70px;
		margin-left:650px;
		
}


.listlov ul li a{
	text-decoration:none;
	padding:5px 10px;
	color:white;
	border:0px solid;
	border-radius:15px;
	background-color:#00cccc;
	
}
.listlov ul li a:hover{
	background-color:white;
	color:#0066ff;
	transition:0.5s;
	
}

